
  <script>
      $(function() {
          $( "#start_date" ).datepicker();
          $( "#end_date" ).datepicker();
      });
  </script>



<div id="content">
  <div class="wrapper">
    <%= image_tag "golden_gate2.jpg"%>

    <div class="home_panel right">
      <h1>Start a New Itinerary</h1>

      <form>
        <div class="block">
          <label for="start_date">Start Date: </label>
          <input name="start_date" id="start_date" type="text">
        </div>
        <div class="block">
          <label for="end_date">End Date: </label>
          <input name="end_date" id="end_date" type="text">
        </div>
        <div class="block">
          <label for="budget">Budget: </label>
          <select name="budget" id="budget">
            <option value="free">Free</option>
            <option value="cheap">Cheap</option>
            <option value="Moderate" selected>Moderate</option>
            <option value="dont-care">Don't Care</option>
          </select>
        </div>
        <div class="block">
          <label for="activity-type">Activity Type: </label>
          <select name="activity-type" id="activity-type">
            <option value="outdoor">Outdoor</option>
            <option value="city">City</option>
            <option value="both" selected>Outdoor &amp; City</option>
          </select>
        </div>
        <div class="block">
          <input type="submit" value="Make Itinerary" formaction="itinerary.html">
        </div>
      </form>
    </div>
  </div>
</div>

