$text-color: #3F3E3D;
$border-color: #D2D2D2;
$content-width: 890px;

@mixin antialiased($color){
	color: $color;
	text-shadow: $color 0 0 1px;
} 

@mixin gradient4f($p1, $c1, $p2, $c2, $p3, $c3, $p4, $c4){
	background: $c1;
	background: -moz-linear-gradient(top,  $c1 $p1,  $c2 $p2,  $c3 $p3,  $c4 $p4);
	background: -webkit-linear-gradient(linear, left top, left bottom, color-stop($p1, $c1), color-stop($p2, $c2), color-stop($p3, $c3), color-stop($p4, $c4));
	background: -webkit-gradient(top, $c1 $p1, $c2 $p2, $c3 $p3, $c4 $p4); 
	background: -o-linear-gradient(top, $c1 $p1, $c2 $p2, $c3 $p3, $c4 $p4);
	background: -ms-linear-gradient(top, $c1 $p1, $c2 $p2, $c3 $p3, $c4 $p4);
	background: linear-gradient(to bottom, $c1 $p1, $c2 $p2, $c3 $p3, $c4 $p4);
}

* {
	font-family: sans-serif;
	color: $text-color;
}

body {
	// background: white url(images/bg.png);
	margin: 0;
	padding: 0;
}

select{
	width: 178px;
	height: 36px;
	border: 1px solid $border-color;
	padding: 0 10px;
	outline: none;
	font-size: 17px;
	&:focus {
		background: #FFFDF2;
	}
}
input {
	width: 156px;
	height: 36px;
	border: 1px solid $border-color;
	padding: 0 10px;
	outline: none;
	font-size: 17px;
	&:focus {
		background: #FFFDF2;
	}
}

input[type="submit"]{
	height: 36px;
	border: 1px solid #7BC574;
	border-radius:  2px;
	color: white;
	font-size: 12px;
	font-weight: bold;
	padding: 0 20px;
	cursor: pointer;
	&.auto-update {
		display: none;	
	}
	@include gradient4f(0%, #8CD585, 23%, #82CD7A, 86%, #55AD4C, 100%, #4FA945);
}

a {
	text-decoration: none;
	@include antialiased(#58B84E);
	&:hover{
		text-decoration: underline;
	}
}

.wrapper {
	width: $content-width;
	margin: auto;
}

.activity {
	background: #B0B0B0 
}

header {
	background: url(images/bg-header.png);
	height: 85px;
	width: 100%;
	div.wrapper {
		padding: 11px 0;
		img {
			position: relative;
			top: 10px;
			margin: 0 15px 0 0;
		}
		span {
			font-size: 18px;
			margin: 0 42px 0 0; 
		}
		form {
			display: inline;

			input {
				margin: 0 0 0 14px;
			}
		}
	}
}

#content {
	margin-bottom: 15px;
	// min-height: 560px;
	min-height: 520px;
	div.wrapper {
		margin: 38px auto;
		img {
		    border-radius: 6px;
		    float: left;
		}
	}
}

footer {
	background: url(images/bg-footer.png);
	height: 251px;
	font-size: 14px;
	clear: both;
	div.wrapper {
		padding: 15px;
		img {
			float:right;
		}
	}
}

div.panel {
    border: 1px solid $border-color;
    background: white;
    margin: 0;
    margin-bottom: 29px;
    border-radius: 6px;
    font-size: 14px;
    &.right {
	    width: 333px;
	    height: 352px;
	    float: right;
	}
	* {
	    margin: 5px 0;
	}
	form {
	    padding: 0 23px;
	}
	h1 {
	    border-bottom: 1px solid $border-color;
	    margin: 5px 0;
	    font-weight: normal;
	    font-size: 18px;
	    padding: 13px 23px;
	    height: 23px;
	}
	p {
	    padding: 0 24px;
	    margin: 18px 0;
	}
}

div.block {
	float: right;
	label { 
		font-size: 17px;
		width: 130px; 
	}	

label.tags_input {
	vertical-align: top; 
	top: 15px; 
	position: relative
}

}



































