<header><div class="wrapper1"><a href="/"><%= image_tag "vagabonds_logo.png" %> </a><span>Planning trips made easy and awesome</span><div id="feedback"> <button>Feedback</button> </div></div></header>